In [20]:
import pandas as pd
import copy

In [9]:
df = pd.read_csv(r"D:\Projects\plot_recommendition\data\pune\Flats\flats_excel_cleaned.csv")

In [11]:
df.sample()

,property_name,link,society,price,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,property_id
1050,2 BHK Flat in Sector 67A Gurgaon,https://www.99acres.com/2-bhk-bedroom-apartmen...,Pyramid Urban,53 Lac,"₹ 8,967/sq.ft.",Carpet area: 591 (54.91 sq.m.),2 Bedrooms,2 Bathrooms,1 Balcony,Others,"Sector 67A Gurgaon, Gurgaon, Haryana",6th of 14 Floors,West,1 to 5 Year Old,"['Airia Mall, Sector 68', 'M3M Cosmopolitan Ma...",It is the best location on sohna road it is al...,"['2 Wardrobe', '4 Fan', '1 Exhaust Fan', '2 Ge...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment5 out of 5', 'Lifestyle4 out of 5...",F69850864

In [12]:
df.shape

(3017, 20)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3017 entries, 0 to 3016
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   property_name    3017 non-null   object
 1   link             3017 non-null   object
 2   society          3016 non-null   object
 3   price            3007 non-null   object
 4   area             3004 non-null   object
 5   areaWithType     3008 non-null   object
 6   bedRoom          3008 non-null   object
 7   bathroom         3008 non-null   object
 8   balcony          3008 non-null   object
 9   additionalRoom   1694 non-null   object
 10  address          3002 non-null   object
 11  floorNum         3006 non-null   object
 12  facing           2127 non-null   object
 13  agePossession    3007 non-null   object
 14  nearbyLocations  2913 non-null   object
 15  description      3008 non-null   object
 16  furnishDetails   2203 non-null   object
 17  features         2594 non-null   object
 18  rating           2676 non-null   object
 19  property_id      3008 non-null   object
dtypes: object(20)
memory usage: 471.5+ KB

In [15]:
df.duplicated().sum()

np.int64(0)

In [18]:
df.isnull().sum()

property_name         0
link                  0
society               1
price                10
area                 13
areaWithType          9
bedRoom               9
bathroom              9
balcony               9
additionalRoom     1323
address              15
floorNum             11
facing              890
agePossession        10
nearbyLocations     104
description           9
furnishDetails      814
features            423
rating              341
property_id           9
dtype: int64

* https://www.programiz.com/python-programming/shallow-deep-copy
* `shallow copy` - if we append anything new then it wouldnt affect the old but changing the existing element with change old_one.
* `deep copy` - old and new copies stay independent.

In [22]:
df_copy = copy.deepcopy(df)
df_copy.sample()

,property_name,link,society,price,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,property_id
3000,3 BHK Flat in Sector 78 Gurgaon,https://www.99acres.com/3-bhk-bedroom-apartmen...,Umang Monsoon Breeze,1.2 Crore,"₹ 6,493/sq.ft.",Super Built up area 2250(209.03 sq.m.)Carpet a...,3 Bedrooms,3 Bathrooms,2 Balconies,Pooja Room,"Sector 78 Gurgaon, Gurgaon, Haryana",8th of 12 Floors,NaN,5 to 10 Year Old,"['Proposed Metro Station', 'Mahapal Shing', 'N...","A 3 bedroom flat, located in sector-78 gurgaon...","['1 Water Purifier', '1 Fridge', '5 Fan', '1 E...","['Piped-gas', 'Natural Light']","['Safety4 out of 5', 'Lifestyle4 out of 5', 'E...",R61360534

In [23]:
# Columns to drop --> links and property_id which is of no use
df_copy = df_copy.drop(columns = ['link', 'property_id'])
df_copy.sample()

,property_name,society,price,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
564,4 BHK Flat in Sector 81 Gurgaon,Bestech Spa Signature,4.45 Crore,"₹ 10,595/sq.ft.",Super Built up area 4200(390.19 sq.m.)Built Up...,4 Bedrooms,4 Bathrooms,3+ Balconies,"Pooja Room,Study Room,Servant Room,Others","S-802, Sector 81 Gurgaon, Gurgaon, Haryana",8th of 31 Floors,South-West,1 to 5 Year Old,"['HUDA City Metro Station', 'Sapphire 83 mall'...",Bestech spa signature is one of the most popul...,"['5 Wardrobe', '1 Stove', '1 Microwave', '20 L...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment4.5 out of 5', 'Lifestyle4 out of..."

In [27]:
df_copy.rename(columns = {'area' : 'price_per_sqft'}, inplace = True)

In [30]:
df_copy.society.value_counts().shape

(638,)

In [32]:
import re

df_copy.society = df_copy.society.apply(lambda name : re.sub(r'\d+(\.\d+)?\s?★', '', str(name)).strip()).str.lower()

In [36]:
df_copy.society.value_counts().shape

(604,)

In [37]:
df.price.value_counts()

price
1.25 Crore     79
1.1 Crore      61
1.4 Crore      60
1.5 Crore      59
1.2 Crore      59
               ..
35.5 Lac        1
4.94 Crore      1
10.75 Crore     1
9.14 Crore      1
62.5 Lac        1
Name: count, Length: 439, dtype: int64

In [38]:
df_copy[df_copy['price'] == 'Price on Request']

,property_name,society,price,price_per_sqft,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
25,5 BHK Flat in Sector 1 Gurgaon,the new people apartments,Price on Request,NaN,Built Up area: 4500 (418.06 sq.m.),5 Bedrooms,1 Bathroom,No Balcony,NaN,"Sector 1, Sector 1 Gurgaon, Gurgaon, Haryana",Ground of 1 Floors,NaN,undefined,"['Pooja Clinic', 'Dr. Sahil Clinic', 'Prakash ...",Best in class property available at sector 1 l...,NaN,NaN,NaN
1644,4 BHK Flat in Sector 50 Gurgaon,ss hibiscus,Price on Request,NaN,Carpet area: 4800 (445.93 sq.m.),4 Bedrooms,4 Bathrooms,3 Balconies,Servant Room,"Sector 50 Gurgaon, Gurgaon, Haryana",7th of 18 Floors,East,5 to 10 Year Old,"['Baani Square', 'SS Plaza', 'Good Earth City ...",4bedroom 4800sq.Ft middle floor apartment avai...,"['4 Fan', '8 Light', 'No AC', 'No Bed', 'No Ch...","['Lift(s)', 'Water purifier', 'Swimming Pool',...","['Environment5 out of 5', 'Lifestyle5 out of 5..."
1972,1 BHK Flat in Sector 31 Gurgaon,raheja atlantis,Price on Request,NaN,Carpet area: 650 (60.39 sq.m.),1 Bedroom,1 Bathroom,1 Balcony,"Pooja Room,Study Room,Servant Room","Yes, Sector 31 Gurgaon, Gurgaon, Haryana",3rd of 15 Floors,East,0 to 1 Year Old,"['Huda Metro Station', 'Reliance Fresh, Indira...",It is my property and good condition and good ...,NaN,"['Feng Shui / Vaastu Compliant', 'Security / F...","['Green Area4 out of 5', 'Construction4 out of..."
2054,2 BHK Flat in Sector 79 Gurgaon,supertech araville,Price on Request,NaN,Built Up area: 1295 (120.31 sq.m.),2 Bedrooms,2 Bathrooms,No Balcony,NaN,"Sector 79, Sector 79 Gurgaon, Gurgaon, Haryana",15th of 15 Floors,NaN,undefined,NaN,"2 bath, unfurnished, 15th floor (Of 18), super...",NaN,NaN,"['Environment4 out of 5', 'Lifestyle3 out of 5..."
2357,2 BHK Flat in Sector 37D Gurgaon,the millennia 2,Price on Request,NaN,Carpet area: 552 (51.28 sq.m.),2 Bedrooms,1 Bathroom,1 Balcony,NaN,"Sector 37D Gurgaon, Gurgaon, Haryana",13rd of 13 Floors,NaN,undefined,"['Shri Balaji Hospital and Trauma Center', 'Sh...","1 bath, unfurnished, 13th floor (Of 13), at se...",NaN,NaN,"['Environment4 out of 5', 'Lifestyle4 out of 5..."
2522,2 BHK Flat in Sector 95A Gurgaon,the roselia 2,Price on Request,NaN,Carpet area: 593 (55.09 sq.m.),2 Bedrooms,2 Bathrooms,2 Balconies,NaN,"Sector 95a, Pataudi Road, Sector 95A Gurgaon, ...",14th of 14 Floors,NaN,undefined,NaN,Best in class property available at sector 95a...,NaN,NaN,"['Environment5 out of 5', 'Lifestyle4.5 out of..."
2549,3 BHK Flat in Sector-2 Sohna,supertech hilltown,Price on Request,NaN,Built Up area: 1720 (159.79 sq.m.),3 Bedrooms,3 Bathrooms,3 Balconies,NaN,"Sohna Sector 2,gurgaon, Sector-2 Sohna, Gurgao...",4th of 4 Floors,North-East,undefined,NaN,"3 bath, unfurnished, 4th floor (Of 4), overloo...",NaN,NaN,NaN
2640,2 BHK Flat in Sector 95A Gurgaon,the roselia 2,Price on Request,NaN,Carpet area: 593 (55.09 sq.m.),2 Bedrooms,2 Bathrooms,2 Balconies,NaN,"Sector 95a, Pataudi Road, Sector 95A Gurgaon, ...",14th of 14 Floors,NaN,undefined,NaN,Best in class property available at sector 95a...,NaN,NaN,"['Environment5 out of 5', 'Safety5 out of 5', ..."
2959,3 BHK Flat in Sector 104 Gurgaon,godrej summit,Price on Request,NaN,Super Built up area 1647(153.01 sq.m.)Carpet a...,3 Bedrooms,3 Bathrooms,3 Balconies,NaN,"1402, Sector 104 Gurgaon, Gurgaon, Haryana",14th of 17 Floors,NaN,1 to 5 Year Old,"['MG Road Metro Station', 'The Esplanade Mall'...",We are the proud owners of this 3 bhk apartmen...,[],"['Intercom Facility', 'Lift(s)', 'Maintenance ...","['Management3 out of 5', 'Green Area4.5 out of..."
2972,4 BHK Flat in Gwal Pahari,krrish provence estate,Price on Request,NaN,Built Up area: 5800 (538.84 sq.m.),4 Bedrooms,5 Bathrooms,1 Balcony,NaN,"Gwal Pahari, Gurgaon, Haryana",17th of 24 Floors,NaN,Under Construction,"['Tniy Toons School', 'Pathways School Gurgoan...",Residential apartment for sell.Located on 17th...,NaN,NaN,NaN
2973,4 BHK Flat in Sector 95 Gurgaon,sidhartha ncr one phase,Price on Request,NaN,Super Built up area 2354(218.69 sq.m.),4 Bedrooms,4 Bathrooms,3+ Balconies,NaN,"Sector 95 Gurgaon, Gurgaon, Haryana",Ground of 3 Floors,North,Under Construction,"['Yadav Clinic', 'Bangali Clinic', 'Dr. J. S. ...","North facing entry, Very good layout, Excellen...",[],"['Power Back-up', 'Feng Shui / Vaastu Complian...","['Management4 out of 5', 'Green Area4 out of 5..."

In [39]:
df_copy[df_copy['price'] == 'Price on Request'].shape

(11, 18)

In [40]:
df_copy = df_copy[df_copy['price'] != 'Price on Request']

In [41]:
df_copy.sample()

,property_name,society,price,price_per_sqft,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
1473,4 BHK Flat in Sector 110 Gurgaon,indiabulls enigma,3.7 Crore,"₹ 10,882/sq.ft.",Super Built up area 3400(315.87 sq.m.),4 Bedrooms,5 Bathrooms,3 Balconies,Servant Room,"Sector 110 Gurgaon, Gurgaon, Haryana",7th of 21 Floors,South-West,1 to 5 Year Old,"['Dwarka Sector 21 Metro Station', 'Gurgaon Dr...",This beautiful 4 bhk flat in sector 110 gurgao...,"['13 Light', '8 AC', '1 Modular Kitchen', 'No ...","['Water purifier', 'Security / Fire Alarm', 'F...","['Environment4 out of 5', 'Lifestyle4 out of 5..."

In [44]:
def treat_price(x):

    if type(x) == float:
        return x
    else:
        if x[1] == 'Lac':
            return round(float(x[0]) / 100, 2)
        else:
            return round(float(x[0]), 2)

In [45]:
df_copy['price'] = df_copy['price'].str.split(' ').apply(treat_price)

In [46]:
df_copy.sample()

,property_name,society,price,price_per_sqft,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
2517,3 BHK Flat in Sector 95 Gurgaon,ramsons kshitij,0.4,"₹ 5,839/sq.ft.",Carpet area: 685 (63.64 sq.m.),3 Bedrooms,2 Bathrooms,2 Balconies,NaN,"Sector 95, Sector 95 Gurgaon, Gurgaon, Haryana",6th of 6 Floors,NaN,undefined,NaN,Multistorey apartment is available for sale. I...,NaN,NaN,"['Green Area4 out of 5', 'Construction4 out of..."

In [47]:
df_copy.price_per_sqft.value_counts()

price_per_sqft
₹ 10,000/sq.ft.    19
₹ 8,000/sq.ft.     16
₹ 12,500/sq.ft.    16
₹ 6,666/sq.ft.     13
₹ 5,000/sq.ft.     13
                   ..
₹ 20,602/sq.ft.     1
₹ 12,401/sq.ft.     1
₹ 6,224/sq.ft.      1
₹ 8,179/sq.ft.      1
₹ 35,222/sq.ft.     1
Name: count, Length: 2130, dtype: int64

In [68]:
df_copy['price_per_sqft'] = df_copy.price_per_sqft. \
                                                str.split('/'). \
                                                str.get(0). \
                                                str.replace('₹', '').\
                                                str.replace(',', '').\
                                                str.strip().astype('float')

In [69]:
df_copy.sample()

,property_name,society,price,price_per_sqft,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
2374,2 BHK Flat in Sector 86 Gurgaon,pyramid urban homes 2,0.5,9698.0,Carpet area: 515.57 (47.9 sq.m.),2 Bedrooms,2 Bathrooms,2 Balconies,NaN,"601 Tower-2, Sector 86 Gurgaon, Gurgaon, Haryana",6th of 15 Floors,NaN,10+ Year Old,"['Sapphire 83 Mall', 'Rampura Flyover, Naurang...",This 2 bhk flat is located in pyramid urban ho...,NaN,"['Lift(s)', 'Park', 'Shopping Centre']","['Environment5 out of 5', 'Lifestyle5 out of 5..."

# area with type column

In [71]:
df_copy.bedRoom.value_counts()

bedRoom
3 Bedrooms    1437
2 Bedrooms     944
4 Bedrooms     478
1 Bedroom      104
5 Bedrooms      31
6 Bedrooms       3
Name: count, dtype: int64

In [85]:
# other column values are also missing here so, cant be predicted
# df_copy[df_copy.bedRoom.isnull()]
df_copy[df_copy.bedRoom.isnull()].shape

(9, 18)

In [86]:
df_copy = df_copy[~df_copy['bedRoom'].isnull()]

In [87]:
df_copy[(df_copy['bedRoom'] == '3 Bedrooms') & (df_copy['price'] > 1)].sample(2)

,property_name,society,price,price_per_sqft,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
606,3 BHK Flat in Sector 56 Gurgaon,shri banke bihari society,1.37,9133.0,Super Built up area 1500(139.35 sq.m.)Built Up...,3 Bedrooms,3 Bathrooms,3+ Balconies,Others,"Sector 56, Sector 56 Gurgaon, Gurgaon, Haryana",2nd of 9 Floors,North-East,10+ Year Old,"['Sector metro station', 'Sector metro station...",This beautiful 3 bhk flat in sector 56 gurgaon...,NaN,"['Centrally Air Conditioned', 'Water purifier'...","['Green Area4 out of 5', 'Construction5 out of..."
1675,3 BHK Flat in Sector 70A Gurgaon,aipl the peaceful homes,2.30,10697.0,Super Built up area 2150(199.74 sq.m.),3 Bedrooms,3 Bathrooms,3 Balconies,Store Room,"Sector 70A Gurgaon, Gurgaon, Haryana",3rd of 30 Floors,North-East,1 to 5 Year Old,"['Airia Mall', 'Golf Corse Ext. Rd.', 'Nationa...",This 3 bhk flat is located in aipl the peacefu...,"['3 Wardrobe', '5 Fan', '1 Exhaust Fan', '3 Ge...","['Security / Fire Alarm', 'Power Back-up', 'Fe...","['Green Area5 out of 5', 'Construction4.5 out ..."

In [89]:
df_copy.bedRoom = df_copy.bedRoom.str.split(' ').str.get(0).str.strip().astype('float')

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_9160\36225977.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_copy.bedRoom = df_copy.bedRoom.str.split(' ').str.get(0).str.strip().astype('float')

In [92]:
# bathroom
df_copy['bathroom'].value_counts()

bathroom
2 Bathrooms    1044
3 Bathrooms     989
4 Bathrooms     636
5 Bathrooms     169
1 Bathroom      112
6 Bathrooms      42
7 Bathrooms       5
Name: count, dtype: int64

In [93]:
df_copy['bathroom'].isnull().sum()

np.int64(0)

In [94]:
df_copy['bathroom'] = df_copy['bathroom'].str.split(' ').str.get(0).astype('float')

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_9160\1158620989.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_copy['bathroom'] = df_copy['bathroom'].str.split(' ').str.get(0).astype('float')

In [95]:
# balcony
df_copy['balcony'].value_counts()

balcony
3 Balconies     974
3+ Balconies    862
2 Balconies     749
1 Balcony       315
No Balcony       97
Name: count, dtype: int64

In [96]:
df_copy['balcony'].isnull().sum()

np.int64(0)

In [97]:
df_copy['balcony'] = df_copy['balcony'].str.split(' ').str.get(0).str.replace('No','0')

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_9160\3877059218.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_copy['balcony'] = df_copy['balcony'].str.split(' ').str.get(0).str.replace('No','0')

In [98]:
# additionalRoom
df_copy['additionalRoom'].value_counts()

additionalRoom
Servant Room                                     629
Study Room                                       232
Others                                           179
Pooja Room                                       132
Study Room,Servant Room                           81
Store Room                                        76
Pooja Room,Servant Room                           60
Servant Room,Others                               52
Servant Room,Pooja Room                           30
Study Room,Others                                 27
Pooja Room,Study Room,Servant Room,Others         25
Pooja Room,Study Room,Servant Room                24
Servant Room,Store Room                           19
Pooja Room,Study Room                             13
Pooja Room,Study Room,Servant Room,Store Room     12
Study Room,Pooja Room                              8
Servant Room,Study Room                            8
Study Room,Servant Room,Store Room                 7
Pooja Room,Store Room                              6
Pooja Room,Others                                  6
Others,Servant Room                                6
Servant Room,Study Room,Pooja Room,Store Room      6
Pooja Room,Servant Room,Others                     6
Study Room,Servant Room,Others                     5
Pooja Room,Store Room,Study Room,Servant Room      4
Pooja Room,Study Room,Store Room                   4
Servant Room,Pooja Room,Study Room,Store Room      3
Study Room,Pooja Room,Store Room                   3
Store Room,Servant Room                            3
Servant Room,Study Room,Store Room                 2
Pooja Room,Study Room,Others                       2
Study Room,Pooja Room,Servant Room                 2
Servant Room,Others,Store Room,Pooja Room          2
Servant Room,Others,Pooja Room                     2
Study Room,Servant Room,Pooja Room,Store Room      2
Others,Study Room                                  1
Servant Room,Study Room,Others                     1
Servant Room,Pooja Room,Study Room                 1
Servant Room,Study Room,Pooja Room                 1
Store Room,Pooja Room,Servant Room                 1
Servant Room,Pooja Room,Store Room,Study Room      1
Study Room,Store Room                              1
Store Room,Study Room                              1
Servant Room,Pooja Room,Store Room                 1
Study Room,Servant Room,Store Room,Pooja Room      1
Study Room,Servant Room,Pooja Room                 1
Pooja Room,Servant Room,Study Room,Store Room      1
Pooja Room,Study Room,Store Room,Servant Room      1
Store Room,Pooja Room                              1
Name: count, dtype: int64

In [100]:
df_copy['additionalRoom'].isnull().sum()

np.int64(1305)

In [101]:
df_copy['additionalRoom'].fillna('not available',inplace=True)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_9160\331398960.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_copy['additionalRoom'].fillna('not available',inplace=True)
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_9160\331398960.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_copy['additionalRoom'].fillna('not available',inplace=True)

In [102]:
df_copy['additionalRoom'] = df_copy['additionalRoom'].str.lower()

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_9160\3757741552.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_copy['additionalRoom'] = df_copy['additionalRoom'].str.lower()

In [103]:
df.sample(3)

,property_name,link,society,price,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,property_id
2353,2 BHK Flat in Sector 70A Gurgaon,https://www.99acres.com/2-bhk-bedroom-apartmen...,AIPL Zen Residences,1.25 Crore,"₹ 9,904/sq.ft.",Carpet area: 1262 (117.24 sq.m.),2 Bedrooms,2 Bathrooms,2 Balconies,NaN,"Sector 70A Gurgaon, Gurgaon, Haryana",19th of 30 Floors,NaN,Within 3 months,"['Airia Mall', 'National Highway 8', 'Southern...",Looking for a 2 bhk property for sale in gurga...,"['1 Stove', '3 AC', '1 Modular Kitchen', 'No B...","['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment5 out of 5', 'Lifestyle4 out of 5...",K69422064
1862,3 BHK Flat in Sector 33 Gurgaon,https://www.99acres.com/3-bhk-bedroom-apartmen...,Unitech The Residences3.7 ★,1.35 Crore,"₹ 8,737/sq.ft.",Super Built up area 1545(143.54 sq.m.),3 Bedrooms,4 Bathrooms,2 Balconies,Servant Room,"701, Sector 33 Gurgaon, Gurgaon, Haryana",8th of 14 Floors,North-East,5 to 10 Year Old,"['Huda Metro Station', 'Raheja Mall', 'Delhi G...",This 3 bhk apartment is available for sale in ...,[],"['Feng Shui / Vaastu Compliant', 'Security / F...","['Green Area5 out of 5', 'Construction4 out of...",C69428930
694,2 BHK Flat in Sector 104 Gurgaon,https://www.99acres.com/2-bhk-bedroom-apartmen...,Puri Emerald Bay3.7 ★,1.32 Crore,"₹ 8,516/sq.ft.",Super Built up area 1550(144 sq.m.),2 Bedrooms,2 Bathrooms,2 Balconies,NaN,"Dwarka Express Way, Sector 104 Gurgaon, Gurgao...",10th of 29 Floors,North-East,1 to 5 Year Old,"['Sector-21 Metro Dwarka', 'Gurgaon Dreamz Mal...",Looking for a 2 bhk property for sale in gurga...,"['1 Stove', '1 Chimney', '4 AC', 'No Bed', 'No...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Green Area5 out of 5', 'Construction5 out of...",L69764558

In [104]:
# floor num
df_copy['floorNum']

0         4th   of 4 Floors
1         1st   of 3 Floors
2       12nd   of 14 Floors
3         2nd   of 4 Floors
4         5th   of 8 Floors
               ...
3012     9th   of 13 Floors
3013      4th   of 5 Floors
3014     3rd   of 22 Floors
3015      9th   of 9 Floors
3016     7th   of 36 Floors
Name: floorNum, Length: 2997, dtype: object

In [105]:
df_copy['floorNum'].isnull().sum()

np.int64(2)

In [106]:
df_copy[df_copy['floorNum'].isnull()]

,property_name,society,price,price_per_sqft,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
181,3 BHK Flat in Dwarka Expressway Gurgaon,experion heartsong,1.08,6150.0,Built Up area: 1758 (163.32 sq.m.),3.0,3.0,0,not available,"604, Tower B-3, 6th Floor,Sector 108, Dwarka E...",NaN,NaN,Under Construction,NaN,A property by one of the most reputed builders...,[],NaN,NaN
2766,2 BHK Flat in Sector 78 Gurgaon,nan,0.60,3692.0,Built Up area: 1625 (150.97 sq.m.),2.0,2.0,0,not available,"Gurgaon, Sector 78 Gurgaon, Gurgaon, Haryana",NaN,NaN,Under Construction,NaN,The property is under construction it's by rah...,[],NaN,"['Safety4 out of 5', 'Lifestyle4 out of 5', 'E..."

In [113]:
# df_copy['floorNum'].str.split(' ').str.get(0).replace('Ground','0').str.extract(r'(\d+)')

In [114]:
df_copy['floorNum'] = df_copy['floorNum'].str.split(' ').str.get(0). \
                               replace('Ground','0').str.replace('Basement','-1'). \
                               str.replace('Lower','0').str.extract(r'(\d+)')

In [115]:
df_copy.sample(2)

,property_name,society,price,price_per_sqft,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
1723,3 BHK Flat in Sector 69 Gurgaon,tulip violet,1.38,8972.0,Carpet area: 1538 (142.88 sq.m.),3.0,3.0,1,not available,"Sector 69 Gurgaon, Gurgaon, Haryana",12,West,1 to 5 Year Old,"['Airia Mall Sector 68', 'Southern Peripheral ...",Check out this 3 bhk apartment for sale in tul...,"['1 Modular Kitchen', 'No AC', 'No Bed', 'No C...","['Centrally Air Conditioned', 'Water purifier'...","['Green Area5 out of 5', 'Construction4 out of..."
1448,2 BHK Flat in Sohna,eldeco accolade,0.72,5735.0,Carpet area: 1264 (117.43 sq.m.),2.0,2.0,3,not available,"0001, Sohna, Gurgaon, Haryana",8,West,1 to 5 Year Old,"['Global City Centre', 'Sohna Road', 'Damdama ...","Eldeco accolade in sohna, gurgaon is a ready-T...","['3 Fan', '1 Exhaust Fan', '3 Light', 'No AC',...","['Water purifier', 'Centrally Air Conditioned'...","['Green Area5 out of 5', 'Construction4.5 out ..."

In [116]:
# facing
df_copy['facing'].value_counts()

facing
North-East    505
East          490
North         301
South         203
West          183
North-West    162
South-East    144
South-West    135
Name: count, dtype: int64

In [117]:
df_copy['facing'].isnull().sum()

np.int64(874)

In [118]:
df_copy['facing'].fillna('NA',inplace=True)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_9160\492954701.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_copy['facing'].fillna('NA',inplace=True)

In [119]:
df_copy['facing'].value_counts()

facing
NA            874
North-East    505
East          490
North         301
South         203
West          183
North-West    162
South-East    144
South-West    135
Name: count, dtype: int64

In [120]:
df_copy.insert(loc=4,column='area',value=round((df_copy['price']*10000000)/df_copy['price_per_sqft']))

In [121]:
df_copy.insert(loc=1,column='property_type',value='flat')

In [122]:
df_copy.sample(2)

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
1248,2 BHK Flat in Sector 37C Gurgaon,flat,imperia the esfera,0.86,5449.0,1578.0,Super Built up area 1578(146.6 sq.m.)Carpet ar...,2.0,3.0,3,"study room,others","Sector 37C Gurgaon, Gurgaon, Haryana",9,South-East,1 to 5 Year Old,"['Approved Sector 37 Mero Station', 'Esplanade...","Situated in sector 37c gurgaon, imperia the es...",NaN,"['Feng Shui / Vaastu Compliant', 'Security / F...","['Environment5 out of 5', 'Lifestyle4 out of 5..."
1698,2 BHK Flat in Sector 82 Gurgaon,flat,vatika the seven lamps,0.86,6022.0,1428.0,Super Built up area 1430(132.85 sq.m.),2.0,2.0,2,study room,"Sector 82 Gurgaon, Gurgaon, Haryana",12,East,1 to 5 Year Old,"['SS Omnia Mall', 'Golf Course Ext Rd', 'Knowl...","Brokers excuse, 2bhk study, 1430 sq. Ft., east...","['2 Wardrobe', '5 Fan', '1 Exhaust Fan', '1 Ge...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Green Area5 out of 5', 'Construction5 out of..."

In [123]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2997 entries, 0 to 3016
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   property_name    2997 non-null   object
 1   property_type    2997 non-null   object
 2   society          2997 non-null   object
 3   price            2996 non-null   float64
 4   price_per_sqft   2996 non-null   float64
 5   area             2996 non-null   float64
 6   areaWithType     2997 non-null   object
 7   bedRoom          2997 non-null   float64
 8   bathroom         2997 non-null   float64
 9   balcony          2997 non-null   object
 10  additionalRoom   2997 non-null   object
 11  address          2991 non-null   object
 12  floorNum         2995 non-null   object
 13  facing           2997 non-null   object
 14  agePossession    2996 non-null   object
 15  nearbyLocations  2906 non-null   object
 16  description      2997 non-null   object
 17  furnishDetails   2200 non-null   object
 18  features         2590 non-null   object
 19  rating           2668 non-null   object
dtypes: float64(5), object(15)
memory usage: 556.2+ KB

In [124]:
df_copy.shape

(2997, 20)

In [125]:
df_copy.to_csv('flats_cleaned.csv',index=False)